*{
     padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --corPrincipal: #FFD188;
    --arredondamento: 10px;
    --sombreamento: 0 4px 4px 2px #00000025;
}

body{
    background-color: #ffffff;
}

header {
    background-color: #EB7932;
    height: 100px;
}

.container_cabecalho {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    /* background-color: aquamarine; */
    margin: 0 auto;
    height: 100%;
    align-items: center;
}

.main_menu{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.secao_logo{
    display: flex;
    flex-direction: column;
    width:360px;
    justify-content: space-between;
    align-items: center;
}

.img_logo{
    height: 165px;
    width: 150px;
}

/* .banners{
    width: 460px;
} */



