*{
     padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.acessivel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

body{
    background-color: #ffffff;
}

.main_menu{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.secao_logo{
    display: flex;
    flex-direction: column;
    width:360px;
    justify-content: space-between;
    align-items: center;
}


