* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Neuton", serif;
    font-weight: 200;
    font-style: normal;
}



body {
    background-color: #ffffff;
}

header {
    background-color: #EB7932;
    height: 100px;

}

.main_cardapio {
    background-image: url("../assets/Fundo\ do\ Layout\ \(2\).png");


}

.icone_inicio {
    padding: 25px 25px;
}


.icone_logo {
    height: 165px;
    width: 150px;
    padding: 25px 25px;
    margin-left: 40px;
}


.img_fundo {
    width: 1943px;
    height: 849px;

}

h1 {
    position: absolute;
    top: 150px;
    right: 800px;
    font-family: "Neuton", serif;
    font-weight: 600;

}

h2 {
    font-family: "Moul", serif;
    color: #00000070;
    height: 12px;
    width: 148px;
    position: relative;
    top: 60px;
    font-size: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    font-family: "Neuton", serif;


}

p {
    font-family: "Neuton", serif;
    font-size: 11px;
    position: relative;
    top: 90px;
}




.sessao_card4,
.sessao_card3,
.sessao_card2,
.sessao_card1 {
    width: 292px;
    height: 438px;
    background: linear-gradient(178deg, rgba(229, 124, 32, 1) 50%, rgba(137, 29, 19, 1) 100%);
    border-radius: 30px;
    padding: 30px 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: space-between;
    align-items: center;
    margin: 70px;
    text-align: center;
    font-size: 10px;
    box-shadow: 0 4px 4px 2px #00000025;
}

.cards p {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 20px;
    width: 278;
    height: 80px;
}

.plataforma, 
.combo {
    margin-top: 20px;
}