* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Neuton";
}

body {
    background-color: #ffffff;
}



.container_cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 36px;
    margin-top: 100px;
}

.titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_busca button {
    width: 205px;
    height: 205px;
    border-radius: 20px;
    border: solid;
    border-color: #EB7932;
    margin-top: 27px;
}

.container_busca button img {
    width: 60px;
    height: 62px;
}

.container_busca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    margin: 100px;
    /* background-color: #EB7932;  */
    padding: 0%;
}

.container_busca input {
    border-radius: 20px;
}




.prod_cat{
    width: 35%;
    /* background-color: beige;  */
}

.prod_cat input {
    display: flex;
    flex-direction: column;
}

.linha1{
    width: 100%;
    /* background-color: aquamarine;  */
}

.caixa-texto {
    width: 100%;
    height: 62px;
    background-color: #EBEBEB;
    border: solid;
    border-color: #EB7932;
    font-size: 20px;
    padding-left: 15px;
}

.box_cat .caixa-text {
    width: 100%;
    height: 62px;
}

.cat_img{
    display: flex;
    justify-content: space-between;
}

.box_cat{
    width: 65%;
}

.seta {
    box-sizing: border-box;
    background-color: #EBEBEB;
    transform: rotate(180deg);
    display: flex;
    width: 100px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 3px #EB7932;
    align-self: end;
}

.area_texto {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: solid;
    border-color: #EB7932;
    background-color: #EBEBEB;
    resize: none;
}

.caixa-text {
    font-size: 20px;
    padding-left: 15px;
    background-color: #EBEBEB;
    border: solid;
    border-color: #EB7932;

}

input[type="file"] {
    display: none;
}

.descricao textarea{
font-size: 25px;
}


.descricao {
    width: 35%;
    padding-left: 0%;
    /* background-color: violet;  */
    

}




.logo_menu {
    display: flex;
    margin: 0 0 0 48px;
}


/*  
background-color: #EBEBEB;
justify-content: center;
width: 662px;
height: 62px;
position: relative;
margin: 91px 0 0 160px;
border-radius: 20px;
border-style: solid;
*/